body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #333;
}
.container {
  /* width: 800px; */
  max-width: 80%;
  background-color: ivory;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
}
/* .btn-grid {
  /* position: absolute;
  top: 90vh; */
  /* display: grid; */

  /* grid-template-columns: repeat(2, auto);*/
  /* gap: 30px; 
} */
.btn {
  background-color: rgb(177, 69, 153);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
  font-size: 1.5vw;
}
#myImg {
  width: 37vw;
}
